{
  "openapi": "3.1.0",
  "info": {
    "title": "Cloud Slicer API",
    "description": "This API provides secure, cloud-based 3D printing services, including 3D file upload and management, instant quoting, printability checks, and slicing operations through a modern, REST API interface.",
    "version": "0.2.3"
  },
  "servers": [
    {
      "url": "https://api.cloudslicer3d.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/user": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get User Info",
        "description": "Get information for the authenticated user.",
        "operationId": "get_user_info_v1_user_get",
        "responses": {
          "200": {
            "description": "Successfully retrieved user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAccountInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Internal server error while fetching user data"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/printer": {
      "get": {
        "tags": [
          "Printer Config"
        ],
        "summary": "Get Printer Configs",
        "description": "Get all of the authenticated user's printer configurations.",
        "operationId": "get_printer_configs_v1_printer_get",
        "responses": {
          "200": {
            "description": "Successfully retrieved printer configurations",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PrinterConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Get Printer Configs V1 Printer Get"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while fetching configurations"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Printer Config"
        ],
        "summary": "Create Printer Config",
        "description": "Create a printer configuration including general settings, machine limits, and extruder settings.",
        "operationId": "create_printer_config_v1_printer_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrinterConfig",
                "description": "Create a printer configuration including general settings, machine limits, and extruder settings."
              },
              "examples": {
                "default": {
                  "summary": "Example Printer",
                  "value": {
                    "general": {
                      "name": "Default Printer",
                      "printer_model": "Generic Printer",
                      "printer_variant": "0.4",
                      "printer_structure": "corexy",
                      "bed_size_x": 200,
                      "bed_size_y": 200,
                      "max_print_z": 250,
                      "origin": [
                        0,
                        0
                      ],
                      "z_offset": 0,
                      "gcode_flavor": "marlin",
                      "use_relative_e_distances": false,
                      "use_firmware_retraction": false,
                      "silent_mode": false
                    },
                    "machine_limits": {
                      "max_feedrates": {
                        "x": 200,
                        "y": 200,
                        "z": 5,
                        "e": 25
                      },
                      "max_accelerations": {
                        "x": 1000,
                        "y": 1000,
                        "z": 100,
                        "e": 5000,
                        "extruding": 5000,
                        "retracting": 5000,
                        "travel": 9000
                      },
                      "max_jerks": {
                        "x": 8,
                        "y": 8,
                        "z": 0.4,
                        "e": 5
                      },
                      "min_feedrates": {
                        "extruding_rate": 0,
                        "travel_rate": 0
                      }
                    },
                    "extruder": {
                      "nozzle_diameter": 0.4,
                      "layer_height_min": 0.1,
                      "layer_height_max": 0.3
                    },
                    "retraction": {
                      "length": 0.8,
                      "speed": 30,
                      "deretract_speed": 30,
                      "lift_z": 0.4,
                      "lift_above": 0,
                      "lift_below": 249,
                      "wipe": true,
                      "wipe_distance": 2,
                      "retract_before_wipe": "0%",
                      "minimum_travel": 1,
                      "retract_on_layer_change": true
                    },
                    "clearance": {
                      "extruder_clearance_height": 34,
                      "extruder_clearance_radius": 68
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePrinterConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid printer configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while creating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/printer/{printer_id}": {
      "get": {
        "tags": [
          "Printer Config"
        ],
        "summary": "Get Printer Config",
        "description": "Get a specific printer configuration for the authenticated user.",
        "operationId": "get_printer_config_v1_printer__printer_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Printer Id"
            },
            "description": "ID for the printer configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SinglePrinterConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Printer configuration not found"
          },
          "500": {
            "description": "Internal server error while fetching configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Printer Config"
        ],
        "summary": "Update Printer Config",
        "description": "Update an existing printer configuration for the authenticated user.",
        "operationId": "update_printer_config_v1_printer__printer_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Printer Id"
            },
            "description": "ID for the printer configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrinterConfig",
                "description": "Complete printer configuration including general settings, machine limits, and extruder settings."
              },
              "examples": {
                "default": {
                  "summary": "Example Printer Patch",
                  "value": {
                    "general": {
                      "name": "Default Printer",
                      "printer_model": "Generic Printer",
                      "printer_variant": "0.4",
                      "printer_structure": "corexy",
                      "bed_size_x": 200,
                      "bed_size_y": 200,
                      "max_print_z": 250,
                      "origin": [
                        0,
                        0
                      ],
                      "z_offset": 0,
                      "gcode_flavor": "marlin",
                      "use_relative_e_distances": false,
                      "use_firmware_retraction": false,
                      "silent_mode": false
                    },
                    "machine_limits": {
                      "max_feedrates": {
                        "x": 200,
                        "y": 200,
                        "z": 5,
                        "e": 25
                      },
                      "max_accelerations": {
                        "x": 1000,
                        "y": 1000,
                        "z": 100,
                        "e": 5000,
                        "extruding": 5000,
                        "retracting": 5000,
                        "travel": 9000
                      },
                      "max_jerks": {
                        "x": 8,
                        "y": 8,
                        "z": 0.4,
                        "e": 5
                      },
                      "min_feedrates": {
                        "extruding_rate": 0,
                        "travel_rate": 0
                      }
                    },
                    "extruder": {
                      "nozzle_diameter": 0.4,
                      "layer_height_min": 0.1,
                      "layer_height_max": 0.3
                    },
                    "retraction": {
                      "length": 0.8,
                      "speed": 30,
                      "deretract_speed": 30,
                      "lift_z": 0.4,
                      "lift_above": 0,
                      "lift_below": 249,
                      "wipe": true,
                      "wipe_distance": 2,
                      "retract_before_wipe": "0%",
                      "minimum_travel": 1,
                      "retract_on_layer_change": true
                    },
                    "clearance": {
                      "extruder_clearance_height": 34,
                      "extruder_clearance_radius": 68
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePrinterConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid printer configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Printer configuration not found"
          },
          "500": {
            "description": "Internal server error while updating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Printer Config"
        ],
        "summary": "Delete Printer Config",
        "description": "Delete a specific printer configuration for the authenticated user.",
        "operationId": "delete_printer_config_v1_printer__printer_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Printer Id"
            },
            "description": "ID for the printer configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePrinterConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Printer configuration not found"
          },
          "500": {
            "description": "Internal server error while deleting configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/filament": {
      "get": {
        "tags": [
          "Filament Config"
        ],
        "summary": "Get Filament Configs",
        "description": "Get all of the authenticated user's filament configurations.",
        "operationId": "get_filament_configs_v1_filament_get",
        "responses": {
          "200": {
            "description": "Successfully retrieved filament configurations",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FilamentConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Get Filament Configs V1 Filament Get"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while fetching configurations"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Filament Config"
        ],
        "summary": "Create Filament Config",
        "description": "Create a new filament configuration for the authenticated user.",
        "operationId": "create_filament_config_v1_filament_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilamentConfig",
                "description": "Complete filament configuration including material, temperature, cooling, and speed settings."
              },
              "examples": {
                "default": {
                  "summary": "Generic PLA",
                  "value": {
                    "filament": {
                      "name": "Default Filament",
                      "type": "PLA",
                      "vendor": "Generic",
                      "color": "#FFFFFF",
                      "diameter": 1.75,
                      "extrusion_multiplier": 1,
                      "density": 1.24,
                      "cost": 20,
                      "spool_weight": 1000,
                      "soluble": false
                    },
                    "temperature": {
                      "nozzle_temp": 200,
                      "first_layer_nozzle_temp": 210,
                      "bed_temp": 60,
                      "first_layer_bed_temp": 65
                    },
                    "cooling": {
                      "enable": true,
                      "fan_always_on": true,
                      "fan_speed_min": 20,
                      "fan_speed_max": 100,
                      "bridges_fan_speed": 100,
                      "disable_fan_first_layers": 1,
                      "full_fan_speed_layer": 0,
                      "fan_below_layer_time": 100,
                      "slowdown_below_layer_time": 4,
                      "min_print_speed": 10,
                      "overhang_fan_speed": 100,
                      "overhang_fan_threshold": "50%"
                    },
                    "print_speed": {
                      "max_volumetric_speed": 15
                    },
                    "retraction": {
                      "length": 0.8,
                      "speed": 30,
                      "deretract_speed": 30,
                      "lift_z": 0.4,
                      "wipe": true,
                      "retract_before_wipe": "0%",
                      "retract_restart_extra": 0,
                      "minimum_travel": 1,
                      "retract_on_layer_change": true,
                      "minimal_purge_on_wipe_tower": 15
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilamentConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filament configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while creating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/filament/{filament_id}": {
      "get": {
        "tags": [
          "Filament Config"
        ],
        "summary": "Get Filament Config",
        "description": "Get a specific filament configuration for the authenticated user.",
        "operationId": "get_filament_config_v1_filament__filament_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "filament_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Filament Id"
            },
            "description": "ID for the filament configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleFilamentConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Filament configuration not found"
          },
          "500": {
            "description": "Internal server error while fetching configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Filament Config"
        ],
        "summary": "Update Filament Config",
        "description": "Update an existing filament configuration for the authenticated user.",
        "operationId": "update_filament_config_v1_filament__filament_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "filament_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Filament Id"
            },
            "description": "ID for the filament configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilamentConfig",
                "description": "Complete filament configuration including material, temperature, cooling, and speed settings."
              },
              "examples": {
                "default": {
                  "summary": "Example Filament Patch",
                  "value": {
                    "filament": {
                      "name": "Default Filament",
                      "type": "PLA",
                      "vendor": "Generic",
                      "color": "#FFFFFF",
                      "diameter": 1.75,
                      "extrusion_multiplier": 1,
                      "density": 1.24,
                      "cost": 20,
                      "spool_weight": 1000,
                      "soluble": false
                    },
                    "temperature": {
                      "nozzle_temp": 200,
                      "first_layer_nozzle_temp": 210,
                      "bed_temp": 60,
                      "first_layer_bed_temp": 65
                    },
                    "cooling": {
                      "enable": true,
                      "fan_always_on": true,
                      "fan_speed_min": 20,
                      "fan_speed_max": 100,
                      "bridges_fan_speed": 100,
                      "disable_fan_first_layers": 1,
                      "full_fan_speed_layer": 0,
                      "fan_below_layer_time": 100,
                      "slowdown_below_layer_time": 4,
                      "min_print_speed": 10,
                      "overhang_fan_speed": 100,
                      "overhang_fan_threshold": "50%"
                    },
                    "print_speed": {
                      "max_volumetric_speed": 15
                    },
                    "retraction": {
                      "length": 0.8,
                      "speed": 30,
                      "deretract_speed": 30,
                      "lift_z": 0.4,
                      "wipe": true,
                      "retract_before_wipe": "0%",
                      "retract_restart_extra": 0,
                      "minimum_travel": 1,
                      "retract_on_layer_change": true,
                      "minimal_purge_on_wipe_tower": 15
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFilamentConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filament configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Filament configuration not found"
          },
          "500": {
            "description": "Internal server error while updating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Filament Config"
        ],
        "summary": "Delete Filament Config",
        "description": "Delete a specific filament configuration for the authenticated user.",
        "operationId": "delete_filament_config_v1_filament__filament_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "filament_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Filament Id"
            },
            "description": "ID for the filament configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilamentConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Filament configuration not found"
          },
          "500": {
            "description": "Internal server error while deleting configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/print-setting": {
      "get": {
        "tags": [
          "Print Setting"
        ],
        "summary": "Get Print Settings",
        "description": "Get all of the authenticated user's print setting configurations.",
        "operationId": "get_print_settings_v1_print_setting_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PrintSettingResponse"
                  },
                  "type": "array",
                  "title": "Response Get Print Settings V1 Print Setting Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Print Setting"
        ],
        "summary": "Create Print Setting",
        "description": "Create a new print setting configuration for the authenticated user.",
        "operationId": "create_print_setting_v1_print_setting_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintSettings",
                "description": "Complete print settings configuration including layers, infill, support, and speed settings."
              },
              "examples": {
                "default": {
                  "summary": "Standard 0.2 mm PLA profile",
                  "value": {
                    "name": "Default Print Settings",
                    "filament_color": "string",
                    "layers_and_perimeters": {
                      "layer_height": {
                        "layer_height": 0.2,
                        "first_layer_height": 0.2,
                        "top_layers": 5,
                        "bottom_layers": 3,
                        "perimeters": 3
                      },
                      "advanced": {
                        "detect_thin_walls": false,
                        "thick_bridges": true,
                        "seam_position": "nearest",
                        "perimeter_generator": "classic",
                        "elefant_foot_compensation": 0.15,
                        "xy_size_compensation": 0,
                        "xy_hole_compensation": 0
                      }
                    },
                    "extrusion_width": {
                      "default": 0.45,
                      "first_layer": 0.42,
                      "external_perimeter": 0.4,
                      "perimeter": 0.45,
                      "infill": 0.45,
                      "solid_infill": 0.45,
                      "top_infill": 0.4,
                      "support": 0.42
                    },
                    "infill": {
                      "fill_density": "15%",
                      "fill_pattern": "grid",
                      "fill_angle": 45,
                      "infill_anchor": 2.5,
                      "infill_anchor_max": 15,
                      "infill_overlap": "25%",
                      "top_fill_pattern": "monotoniclines",
                      "ironing_type": "top",
                      "solid_infill_every_layers": 0,
                      "combine_infill_every_layers": 0
                    },
                    "skirt_and_brim": {
                      "skirt": {
                        "loops": 0,
                        "distance": 2,
                        "height": 2
                      },
                      "brim": {
                        "type": "no_brim",
                        "width": 5,
                        "separation_gap": 0.1
                      }
                    },
                    "support_material": {
                      "enable": false,
                      "style": "grid",
                      "pattern": "rectilinear",
                      "threshold_angle": 40,
                      "buildplate_only": false,
                      "top_z_distance": 0.15,
                      "xy_distance": 0.5,
                      "spacing": 2,
                      "top_interface_layers": 2,
                      "bottom_interface_layers": 0,
                      "interface_pattern": "rectilinear",
                      "interface_spacing": 0,
                      "dont_support_bridges": false,
                      "raft_layers": 0,
                      "raft_first_layer_expansion": 2
                    },
                    "speed": {
                      "perimeters": 300,
                      "small_perimeters": "50%",
                      "external_perimeters": 200,
                      "infill": 270,
                      "solid_infill": 250,
                      "top_solid_infill": 200,
                      "support_material": 150,
                      "support_material_interface": 80,
                      "gap_fill": 250,
                      "ironing": 15,
                      "travel": 500,
                      "travel_z": 0,
                      "first_layer": 50,
                      "first_layer_infill": 105,
                      "bridge": 50
                    },
                    "acceleration": {
                      "default": 10000,
                      "first_layer": 500,
                      "perimeter": 0,
                      "external_perimeter": 5000,
                      "infill": "100%",
                      "solid_infill": 0,
                      "top_solid_infill": 2000,
                      "travel": 10000,
                      "bridge": 0
                    },
                    "overhang": {
                      "enable_overhang_speed": true,
                      "speed_0": 0,
                      "speed_1": 50,
                      "speed_2": 30,
                      "speed_3": 10
                    },
                    "wipe_tower": {
                      "enable": false,
                      "width": 60
                    },
                    "output_options": {
                      "spiral_vase": false,
                      "print_sequence": "by layer"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/print-setting/{print_setting_id}": {
      "get": {
        "tags": [
          "Print Setting"
        ],
        "summary": "Get Print Setting",
        "description": "Get a specific print setting configuration for the authenticated user.",
        "operationId": "get_print_setting_v1_print_setting__print_setting_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Print Setting Id"
            },
            "description": "ID for the print setting configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SinglePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Print Setting"
        ],
        "summary": "Update Print Setting",
        "description": "Update an existing print setting configuration for the authenticated user.",
        "operationId": "update_print_setting_v1_print_setting__print_setting_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Print Setting Id"
            },
            "description": "ID for the print setting configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintSettings",
                "description": "Complete print settings configuration including layers, infill, support, and speed settings."
              },
              "examples": {
                "default": {
                  "summary": "Bump infill for high-strength parts",
                  "value": {
                    "name": "Default Print Settings",
                    "filament_color": "string",
                    "layers_and_perimeters": {
                      "layer_height": {
                        "layer_height": 0.2,
                        "first_layer_height": 0.2,
                        "top_layers": 5,
                        "bottom_layers": 3,
                        "perimeters": 3
                      },
                      "advanced": {
                        "detect_thin_walls": false,
                        "thick_bridges": true,
                        "seam_position": "nearest",
                        "perimeter_generator": "classic",
                        "elefant_foot_compensation": 0.15,
                        "xy_size_compensation": 0,
                        "xy_hole_compensation": 0
                      }
                    },
                    "extrusion_width": {
                      "default": 0.45,
                      "first_layer": 0.42,
                      "external_perimeter": 0.4,
                      "perimeter": 0.45,
                      "infill": 0.45,
                      "solid_infill": 0.45,
                      "top_infill": 0.4,
                      "support": 0.42
                    },
                    "infill": {
                      "fill_density": "15%",
                      "fill_pattern": "grid",
                      "fill_angle": 45,
                      "infill_anchor": 2.5,
                      "infill_anchor_max": 15,
                      "infill_overlap": "25%",
                      "top_fill_pattern": "monotoniclines",
                      "ironing_type": "top",
                      "solid_infill_every_layers": 0,
                      "combine_infill_every_layers": 0
                    },
                    "skirt_and_brim": {
                      "skirt": {
                        "loops": 0,
                        "distance": 2,
                        "height": 2
                      },
                      "brim": {
                        "type": "no_brim",
                        "width": 5,
                        "separation_gap": 0.1
                      }
                    },
                    "support_material": {
                      "enable": false,
                      "style": "grid",
                      "pattern": "rectilinear",
                      "threshold_angle": 40,
                      "buildplate_only": false,
                      "top_z_distance": 0.15,
                      "xy_distance": 0.5,
                      "spacing": 2,
                      "top_interface_layers": 2,
                      "bottom_interface_layers": 0,
                      "interface_pattern": "rectilinear",
                      "interface_spacing": 0,
                      "dont_support_bridges": false,
                      "raft_layers": 0,
                      "raft_first_layer_expansion": 2
                    },
                    "speed": {
                      "perimeters": 300,
                      "small_perimeters": "50%",
                      "external_perimeters": 200,
                      "infill": 270,
                      "solid_infill": 250,
                      "top_solid_infill": 200,
                      "support_material": 150,
                      "support_material_interface": 80,
                      "gap_fill": 250,
                      "ironing": 15,
                      "travel": 500,
                      "travel_z": 0,
                      "first_layer": 50,
                      "first_layer_infill": 105,
                      "bridge": 50
                    },
                    "acceleration": {
                      "default": 10000,
                      "first_layer": 500,
                      "perimeter": 0,
                      "external_perimeter": 5000,
                      "infill": "100%",
                      "solid_infill": 0,
                      "top_solid_infill": 2000,
                      "travel": 10000,
                      "bridge": 0
                    },
                    "overhang": {
                      "enable_overhang_speed": true,
                      "speed_0": 0,
                      "speed_1": 50,
                      "speed_2": 30,
                      "speed_3": 10
                    },
                    "wipe_tower": {
                      "enable": false,
                      "width": 60
                    },
                    "output_options": {
                      "spiral_vase": false,
                      "print_sequence": "by layer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Print Setting"
        ],
        "summary": "Delete Print Setting",
        "description": "Delete a specific print setting configuration for the authenticated user.",
        "operationId": "delete_print_setting_v1_print_setting__print_setting_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Print Setting Id"
            },
            "description": "ID for the print setting configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get Order",
        "description": "Get a specific order for the authenticated user. **NOTE: The *order_id* must be the default ID provided to you in your Cloud Slicer dashboard.  It cannot be your custom ID**",
        "operationId": "get_order_v1_order__order_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Id"
            },
            "description": "Order ID to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal server error while fetching order"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Update Order",
        "description": "Update an existing order for the authenticated user. **NOTE: The *order_id* must be the default ID provided to you in your Cloud Slicer dashboard.  It cannot be your custom ID**",
        "operationId": "update_order_v1_order__order_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Id"
            },
            "description": "Order ID to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRequest"
              },
              "examples": {
                "default": {
                  "summary": "Move order into production",
                  "value": {
                    "status": "in_progress",
                    "notes": "Started printing on the MK3S+. ETA tomorrow morning.",
                    "deadline": "2026-06-10",
                    "priority": "high"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "No valid fields to update"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal server error while updating order"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete Order",
        "description": "Delete an order for the authenticated user. **NOTE: The *order_id* must be the default ID provided to you in your Cloud Slicer dashboard.  It cannot be your custom ID**",
        "operationId": "delete_order_v1_order__order_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Id"
            },
            "description": "Order ID to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal server error while deleting order"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/printability/{file_id}": {
      "post": {
        "tags": [
          "Part Info"
        ],
        "summary": "Check Model Printability",
        "description": "Check if a model fits on the print bed given the dimensions.",
        "operationId": "check_model_printability_v1_printability__file_id__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            },
            "description": "ID for the 3D model file (this can be found in the upload response)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedDimensions",
                "default": {
                  "x": 210.0,
                  "y": 210.0,
                  "z": 250.0
                }
              },
              "examples": {
                "default": {
                  "summary": "250×210×210 mm build volume",
                  "value": {
                    "x": 250.0,
                    "y": 210.0,
                    "z": 210.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully analyzed model printability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintabilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or file ownership mismatch"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error during printability analysis"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get User Files",
        "description": "Get uploaded files for the authenticated user, sorted by latest first. Pass an optional `file_id` query parameter to fetch metadata for a single file (returns a list of 0 or 1 items). Requires a valid API token.",
        "operationId": "get_user_files_v1_file_get",
        "parameters": [
          {
            "name": "file_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "File Id"
            },
            "description": "Optional file ID. When provided, returns only the matching upload record for the authenticated user."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user files",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UploadRecordResponse"
                  },
                  "type": "array",
                  "title": "Response Get User Files V1 File Get"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while fetching files"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "File"
        ],
        "summary": "Upload File",
        "description": "Upload a file to the database for the authenticated user.\n\nThe upload must be a .stl, .obj, .3mf, .amf, or .step/.stp file.\n\n> **Playground note:** in the **Body** section, open the dropdown and select **Multipart**. Add an entry with the key `file`, then click the value field to attach your 3D model (.stl, .obj, .3mf, .amf, or .step/.stp). Without this, the request will send the raw file bytes and the server will return a `422` validation error.",
        "operationId": "upload_file_v1_file_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_v1_file_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file type or filename"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "413": {
            "description": "File too large"
          },
          "500": {
            "description": "Internal server error during upload"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/file/upload-id": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get Upload Id",
        "description": "Generate an upload ID for uploading a file to the database.\n\nReturns an upload id that can be used with the /file/public/{upload_id} endpoint to upload files without authentication. The upload id expires after 1 hour.\n\nWorkflow:\n1. Call this endpoint to get an upload_id\n2. Use the upload_id with `POST /file/public/{upload_id}` to upload the file",
        "operationId": "get_upload_id_v1_file_upload_id_get",
        "responses": {
          "200": {
            "description": "Successfully generated upload ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadLink"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while generating upload ID"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/file/public/{upload_id}": {
      "post": {
        "tags": [
          "File"
        ],
        "summary": "Upload File Public",
        "description": "Upload a file using a temporary upload ID (no authentication required).\n\nThis endpoint allows anonymous uploads using a temporary upload ID obtained\nfrom the /upload endpoint. The upload ID is single-use and expires after 1 hour.\n\n> **Playground note:** in the **Body** section, open the dropdown and select **Multipart**. Add an entry with the key `file`, then click the value field to attach your 3D model (.stl, .obj, .3mf, .amf, or .step/.stp). Without this, the request will send the raw file bytes and the server will return a `422` validation error.",
        "operationId": "upload_file_public_v1_file_public__upload_id__post",
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Upload Id"
            },
            "description": "Temporary upload ID obtained from /file/upload-id endpoint"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_public_v1_file_public__upload_id__post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file type or filename"
          },
          "404": {
            "description": "Upload session not found"
          },
          "410": {
            "description": "Upload session expired or already used"
          },
          "413": {
            "description": "File too large"
          },
          "500": {
            "description": "Internal server error during upload"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file/{file_id}": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Download File",
        "description": "Download an uploaded file for the authenticated user.",
        "operationId": "download_file_v1_file__file_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            },
            "description": "ID for the STL file to download"
          }
        ],
        "responses": {
          "200": {
            "description": "File downloaded successfully"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error during download"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "File"
        ],
        "summary": "Delete File",
        "description": "Deletes an uploaded file. **NOTE: This will also delete the quotes associated with this file**",
        "operationId": "delete_file_v1_file__file_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            },
            "description": "ID for the STL file to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error during deletion"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/{file_id}": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Quote Model",
        "description": "Deprecated: use POST /v1/quote/queue/{file_id} instead.\n\nSlice an uploaded file and generate an instant quote synchronously. Returns a quote with price, estimated print time, and filament usage if the part fits the printer.",
        "operationId": "quote_model_v1_quote__file_id__post",
        "deprecated": true,
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the uploaded file (this can be found in the upload response)",
              "title": "File Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteConfig"
              },
              "examples": {
                "default": {
                  "summary": "Example Prusa Quote",
                  "value": {
                    "printer_id": "printer-id",
                    "filament_id": "filament-id",
                    "slicer_model": "prusa_slicer",
                    "pricing_config": {
                      "currency": "USD",
                      "cost_per_hour": 2.5,
                      "cost_per_gram": 0.02,
                      "base_price": 5,
                      "printer_watts": 100,
                      "cost_per_kwh": 0.12
                    },
                    "print_settings": {
                      "name": "Default Print Settings",
                      "filament_color": "string",
                      "layers_and_perimeters": {
                        "layer_height": {
                          "layer_height": 0.2,
                          "first_layer_height": 0.2,
                          "top_layers": 5,
                          "bottom_layers": 3,
                          "perimeters": 3
                        },
                        "advanced": {
                          "detect_thin_walls": false,
                          "thick_bridges": true,
                          "seam_position": "nearest",
                          "perimeter_generator": "classic",
                          "elefant_foot_compensation": 0.15,
                          "xy_size_compensation": 0,
                          "xy_hole_compensation": 0
                        }
                      },
                      "extrusion_width": {
                        "default": 0.45,
                        "first_layer": 0.42,
                        "external_perimeter": 0.4,
                        "perimeter": 0.45,
                        "infill": 0.45,
                        "solid_infill": 0.45,
                        "top_infill": 0.4,
                        "support": 0.42
                      },
                      "infill": {
                        "fill_density": "15%",
                        "fill_pattern": "grid",
                        "fill_angle": 45,
                        "infill_anchor": 2.5,
                        "infill_anchor_max": 15,
                        "infill_overlap": "25%",
                        "top_fill_pattern": "monotoniclines",
                        "ironing_type": "top",
                        "solid_infill_every_layers": 0,
                        "combine_infill_every_layers": 0
                      },
                      "skirt_and_brim": {
                        "skirt": {
                          "loops": 0,
                          "distance": 2,
                          "height": 2
                        },
                        "brim": {
                          "type": "no_brim",
                          "width": 5,
                          "separation_gap": 0.1
                        }
                      },
                      "support_material": {
                        "enable": false,
                        "style": "grid",
                        "pattern": "rectilinear",
                        "threshold_angle": 40,
                        "buildplate_only": false,
                        "top_z_distance": 0.15,
                        "xy_distance": 0.5,
                        "spacing": 2,
                        "top_interface_layers": 2,
                        "bottom_interface_layers": 0,
                        "interface_pattern": "rectilinear",
                        "interface_spacing": 0,
                        "dont_support_bridges": false,
                        "raft_layers": 0,
                        "raft_first_layer_expansion": 2
                      },
                      "speed": {
                        "perimeters": 300,
                        "small_perimeters": "50%",
                        "external_perimeters": 200,
                        "infill": 270,
                        "solid_infill": 250,
                        "top_solid_infill": 200,
                        "support_material": 150,
                        "support_material_interface": 80,
                        "gap_fill": 250,
                        "ironing": 15,
                        "travel": 500,
                        "travel_z": 0,
                        "first_layer": 50,
                        "first_layer_infill": 105,
                        "bridge": 50
                      },
                      "acceleration": {
                        "default": 10000,
                        "first_layer": 500,
                        "perimeter": 0,
                        "external_perimeter": 5000,
                        "infill": "100%",
                        "solid_infill": 0,
                        "top_solid_infill": 2000,
                        "travel": 10000,
                        "bridge": 0
                      },
                      "overhang": {
                        "enable_overhang_speed": true,
                        "speed_0": 0,
                        "speed_1": 50,
                        "speed_2": 30,
                        "speed_3": 10
                      },
                      "wipe_tower": {
                        "enable": false,
                        "width": 60
                      },
                      "output_options": {
                        "spiral_vase": false,
                        "print_sequence": "by layer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model exceeds printer build volume or invalid configuration"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File, printer config, or filament config not found"
          },
          "500": {
            "description": "Internal server error during slicing"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/queue/{file_id}": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Queue Quote Model",
        "description": "Submit a quote job to the async queue.\n\nUse the returned quote_id to poll GET /v1/quote/{quote_id} until the status\ntransitions from pending to success or failed.",
        "operationId": "queue_quote_model_v1_quote_queue__file_id__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the uploaded file",
              "title": "File Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteConfig"
              },
              "examples": {
                "default": {
                  "summary": "Example Prusa Quote",
                  "value": {
                    "printer_id": "printer-id",
                    "filament_id": "filament-id",
                    "slicer_model": "prusa_slicer",
                    "pricing_config": {
                      "currency": "USD",
                      "cost_per_hour": 2.5,
                      "cost_per_gram": 0.02,
                      "base_price": 5,
                      "printer_watts": 100,
                      "cost_per_kwh": 0.12
                    },
                    "print_settings": {
                      "name": "Default Print Settings",
                      "filament_color": "string",
                      "layers_and_perimeters": {
                        "layer_height": {
                          "layer_height": 0.2,
                          "first_layer_height": 0.2,
                          "top_layers": 5,
                          "bottom_layers": 3,
                          "perimeters": 3
                        },
                        "advanced": {
                          "detect_thin_walls": false,
                          "thick_bridges": true,
                          "seam_position": "nearest",
                          "perimeter_generator": "classic",
                          "elefant_foot_compensation": 0.15,
                          "xy_size_compensation": 0,
                          "xy_hole_compensation": 0
                        }
                      },
                      "extrusion_width": {
                        "default": 0.45,
                        "first_layer": 0.42,
                        "external_perimeter": 0.4,
                        "perimeter": 0.45,
                        "infill": 0.45,
                        "solid_infill": 0.45,
                        "top_infill": 0.4,
                        "support": 0.42
                      },
                      "infill": {
                        "fill_density": "15%",
                        "fill_pattern": "grid",
                        "fill_angle": 45,
                        "infill_anchor": 2.5,
                        "infill_anchor_max": 15,
                        "infill_overlap": "25%",
                        "top_fill_pattern": "monotoniclines",
                        "ironing_type": "top",
                        "solid_infill_every_layers": 0,
                        "combine_infill_every_layers": 0
                      },
                      "skirt_and_brim": {
                        "skirt": {
                          "loops": 0,
                          "distance": 2,
                          "height": 2
                        },
                        "brim": {
                          "type": "no_brim",
                          "width": 5,
                          "separation_gap": 0.1
                        }
                      },
                      "support_material": {
                        "enable": false,
                        "style": "grid",
                        "pattern": "rectilinear",
                        "threshold_angle": 40,
                        "buildplate_only": false,
                        "top_z_distance": 0.15,
                        "xy_distance": 0.5,
                        "spacing": 2,
                        "top_interface_layers": 2,
                        "bottom_interface_layers": 0,
                        "interface_pattern": "rectilinear",
                        "interface_spacing": 0,
                        "dont_support_bridges": false,
                        "raft_layers": 0,
                        "raft_first_layer_expansion": 2
                      },
                      "speed": {
                        "perimeters": 300,
                        "small_perimeters": "50%",
                        "external_perimeters": 200,
                        "infill": 270,
                        "solid_infill": 250,
                        "top_solid_infill": 200,
                        "support_material": 150,
                        "support_material_interface": 80,
                        "gap_fill": 250,
                        "ironing": 15,
                        "travel": 500,
                        "travel_z": 0,
                        "first_layer": 50,
                        "first_layer_infill": 105,
                        "bridge": 50
                      },
                      "acceleration": {
                        "default": 10000,
                        "first_layer": 500,
                        "perimeter": 0,
                        "external_perimeter": 5000,
                        "infill": "100%",
                        "solid_infill": 0,
                        "top_solid_infill": 2000,
                        "travel": 10000,
                        "bridge": 0
                      },
                      "overhang": {
                        "enable_overhang_speed": true,
                        "speed_0": 0,
                        "speed_1": 50,
                        "speed_2": 30,
                        "speed_3": 10
                      },
                      "wipe_tower": {
                        "enable": false,
                        "width": 60
                      },
                      "output_options": {
                        "spiral_vase": false,
                        "print_sequence": "by layer"
                      }
                    }
                  }
                },
                "bambu_studio": {
                  "summary": "Example Bambu Quote",
                  "value": {
                    "printer_id": "printer-id",
                    "filament_id": "filament-id",
                    "slicer_model": "bambu_studio",
                    "pricing_config": {
                      "currency": "USD",
                      "cost_per_hour": 2.5,
                      "cost_per_gram": 0.02,
                      "base_price": 5,
                      "printer_watts": 100,
                      "cost_per_kwh": 0.12
                    },
                    "print_settings": {
                      "name": "Default Print Settings",
                      "filament_color": "string",
                      "layers_and_perimeters": {
                        "layer_height": {
                          "layer_height": 0.2,
                          "first_layer_height": 0.2,
                          "top_layers": 5,
                          "bottom_layers": 3,
                          "perimeters": 3
                        },
                        "advanced": {
                          "detect_thin_walls": false,
                          "thick_bridges": true,
                          "seam_position": "nearest",
                          "perimeter_generator": "classic",
                          "elefant_foot_compensation": 0.15,
                          "xy_size_compensation": 0,
                          "xy_hole_compensation": 0
                        }
                      },
                      "extrusion_width": {
                        "default": 0.45,
                        "first_layer": 0.42,
                        "external_perimeter": 0.4,
                        "perimeter": 0.45,
                        "infill": 0.45,
                        "solid_infill": 0.45,
                        "top_infill": 0.4,
                        "support": 0.42
                      },
                      "infill": {
                        "fill_density": "15%",
                        "fill_pattern": "grid",
                        "fill_angle": 45,
                        "infill_anchor": 2.5,
                        "infill_anchor_max": 15,
                        "infill_overlap": "25%",
                        "top_fill_pattern": "monotoniclines",
                        "ironing_type": "top",
                        "solid_infill_every_layers": 0,
                        "combine_infill_every_layers": 0
                      },
                      "skirt_and_brim": {
                        "skirt": {
                          "loops": 0,
                          "distance": 2,
                          "height": 2
                        },
                        "brim": {
                          "type": "no_brim",
                          "width": 5,
                          "separation_gap": 0.1
                        }
                      },
                      "support_material": {
                        "enable": false,
                        "style": "grid",
                        "pattern": "rectilinear",
                        "threshold_angle": 40,
                        "buildplate_only": false,
                        "top_z_distance": 0.15,
                        "xy_distance": 0.5,
                        "spacing": 2,
                        "top_interface_layers": 2,
                        "bottom_interface_layers": 0,
                        "interface_pattern": "rectilinear",
                        "interface_spacing": 0,
                        "dont_support_bridges": false,
                        "raft_layers": 0,
                        "raft_first_layer_expansion": 2
                      },
                      "speed": {
                        "perimeters": 300,
                        "small_perimeters": "50%",
                        "external_perimeters": 200,
                        "infill": 270,
                        "solid_infill": 250,
                        "top_solid_infill": 200,
                        "support_material": 150,
                        "support_material_interface": 80,
                        "gap_fill": 250,
                        "ironing": 15,
                        "travel": 500,
                        "travel_z": 0,
                        "first_layer": 50,
                        "first_layer_infill": 105,
                        "bridge": 50
                      },
                      "acceleration": {
                        "default": 10000,
                        "first_layer": 500,
                        "perimeter": 0,
                        "external_perimeter": 5000,
                        "infill": "100%",
                        "solid_infill": 0,
                        "top_solid_infill": 2000,
                        "travel": 10000,
                        "bridge": 0
                      },
                      "overhang": {
                        "enable_overhang_speed": true,
                        "speed_0": 0,
                        "speed_1": 50,
                        "speed_2": 30,
                        "speed_3": 10
                      },
                      "wipe_tower": {
                        "enable": false,
                        "width": 60
                      },
                      "output_options": {
                        "spiral_vase": false,
                        "print_sequence": "by layer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Quote job queued successfully; poll GET /v1/quote/{quote_id} for updates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteQueueSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request configuration"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File, printer config, or filament config not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error while queueing quote"
          },
          "503": {
            "description": "Modal queue dispatch failed"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/{quote_id}": {
      "get": {
        "tags": [
          "Quote"
        ],
        "summary": "Get Quote Record",
        "description": "Retrieve a quote record by its ID.",
        "operationId": "get_quote_record_v1_quote__quote_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Quote Id"
            },
            "description": "ID for the quote record (returned by POST /v1/quote/queue/{file_id})"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Quote not found"
          },
          "500": {
            "description": "Internal server error while fetching quote"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Quote"
        ],
        "summary": "Delete Quote",
        "description": "Deletes the quote record and the associated .gcode file for the given Quote ID.",
        "operationId": "delete_quote_v1_quote__quote_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Quote Id"
            },
            "description": "ID for the quote to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuoteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Quote not found"
          },
          "500": {
            "description": "Internal server error while deleting quote"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/gcode/{quote_id}": {
      "get": {
        "tags": [
          "Quote"
        ],
        "summary": "Download Quote Gcode",
        "description": "Retrieve the .gcode file for the quote that matches `quote_id`.",
        "operationId": "download_quote_gcode_v1_quote_gcode__quote_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Quote Id"
            },
            "description": "ID for the generated quote (this can be found in the quote response)"
          }
        ],
        "responses": {
          "200": {
            "description": "G-code file downloaded successfully"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Quote or G-code file not found"
          },
          "500": {
            "description": "Internal server error during download"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/deliveries": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook Deliveries",
        "operationId": "get_webhook_deliveries_v1_webhook_deliveries_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/WebhookDeliveryResponse"
                      },
                      "type": "array"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Get Webhook Deliveries V1 Webhook Deliveries Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhook/delivery/retry/{webhook_delivery_id}": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retry Webhook Delivery",
        "operationId": "retry_webhook_delivery_v1_webhook_delivery_retry__webhook_delivery_id__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_delivery_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Delivery Id"
            },
            "description": "Webhook delivery ID to retry."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryRetryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/endpoint": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create Webhook Endpoint",
        "description": "Supported event types for webhook subscriptions:\n- order.created\n- order.updated\n- order.deleted",
        "operationId": "create_webhook_endpoint_v1_webhook_endpoint_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointCreateRequest"
              },
              "examples": {
                "default": {
                  "summary": "Subscribe to all order events",
                  "value": {
                    "name": "Order events",
                    "endpoint_url": "https://example.com/webhooks/cloud-slicer",
                    "subscribed_events": [
                      "order.created",
                      "order.updated",
                      "order.deleted"
                    ],
                    "is_active": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhook/endpoints": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook Endpoints",
        "operationId": "get_webhook_endpoints_v1_webhook_endpoints_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/WebhookEndpointResponse"
                  },
                  "type": "array",
                  "title": "Response Get Webhook Endpoints V1 Webhook Endpoints Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhook/endpoint/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook Endpoint",
        "operationId": "get_webhook_endpoint_v1_webhook_endpoint__webhook_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            },
            "description": "Webhook endpoint ID to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update Webhook Endpoint",
        "operationId": "update_webhook_endpoint_v1_webhook_endpoint__webhook_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            },
            "description": "Webhook endpoint ID to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointUpdateRequest"
              },
              "examples": {
                "default": {
                  "summary": "Disable endpoint and narrow events",
                  "value": {
                    "is_active": false,
                    "subscribed_events": [
                      "order.deleted"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Webhook Endpoint",
        "operationId": "delete_webhook_endpoint_v1_webhook_endpoint__webhook_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            },
            "description": "Webhook endpoint ID to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/convert/bambu-to-ini": {
      "post": {
        "tags": [
          "Convert Files"
        ],
        "summary": "Convert Bambu To Ini",
        "description": "Convert a Bambu Studio profile archive (.bbscfg) to PrusaSlicer INI format. Upload a .bbscfg file containing filament/, printer/, and process/ directories with Bambu profile JSON files. Returns a downloadable .ini configuration file.\n\n> **Playground note:** in the **Body** section, open the dropdown and select **Multipart**. Add an entry with the key `file`, then click the value field to attach your Bambu Studio profile archive (.bbscfg). Without this, the request will send the raw file bytes and the server will return a `422` validation error.",
        "operationId": "convert_bambu_to_ini_v1_convert_bambu_to_ini_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_convert_bambu_to_ini_v1_convert_bambu_to_ini_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully converted profile to INI format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Convert Example": {
                    "summary": "Convert Example",
[...]
