{
  "openapi": "3.1.0",
  "info": {
    "title": "Cloud Slicer API",
    "description": "This API provides secure, cloud-based 3D printing services, including 3D file upload and management, instant quoting, printability checks, and slicing operations through a modern, REST API interface.",
    "version": "0.2.3"
  },
  "servers": [
    {
      "url": "https://api.cloudslicer3d.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/user": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get User Info",
        "description": "Get information for the authenticated user.\n\nRequires a valid API token in the Authorization header (Bearer scheme).\nYou can gernerate a token from the Cloud Slicer website in your account settings.\nReturns account information for the authenticated user.",
        "operationId": "get_user_info_v1_user_get",
        "responses": {
          "200": {
            "description": "Successfully retrieved user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAccountInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Internal server error while fetching user data"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/printer": {
      "get": {
        "tags": [
          "FDM Printer Config"
        ],
        "summary": "Get Printer Configs",
        "description": "Get all of the authenticated user's printer configurations. Requires a valid API token.",
        "operationId": "get_printer_configs_v1_printer_get",
        "responses": {
          "200": {
            "description": "Successfully retrieved printer configurations",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PrinterConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Get Printer Configs V1 Printer Get"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while fetching configurations"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "FDM Printer Config"
        ],
        "summary": "Create Printer Config",
        "description": "Create a printer configuration including general settings, machine limits, and extruder settings. Requires a valid API token.",
        "operationId": "create_printer_config_v1_printer_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrinterConfig",
                "description": "Create a printer configuration including general settings, machine limits, and extruder settings."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePrinterConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid printer configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while creating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/printer/{printer_id}": {
      "get": {
        "tags": [
          "FDM Printer Config"
        ],
        "summary": "Get Printer Config",
        "description": "Get a specific printer configuration for the authenticated user. Requires a valid API token.",
        "operationId": "get_printer_config_v1_printer__printer_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the printer configuration to retrieve.",
              "title": "Printer Id"
            },
            "description": "ID for the printer configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SinglePrinterConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Printer configuration not found"
          },
          "500": {
            "description": "Internal server error while fetching configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "FDM Printer Config"
        ],
        "summary": "Update Printer Config",
        "description": "Update an existing printer configuration for the authenticated user. Requires a valid API token.",
        "operationId": "update_printer_config_v1_printer__printer_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the printer configuration to update.",
              "title": "Printer Id"
            },
            "description": "ID for the printer configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrinterConfig",
                "description": "Complete printer configuration including general settings, machine limits, and extruder settings."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePrinterConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid printer configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Printer configuration not found"
          },
          "500": {
            "description": "Internal server error while updating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "FDM Printer Config"
        ],
        "summary": "Delete Printer Config",
        "description": "Delete a specific printer configuration for the authenticated user. Requires a valid API token.",
        "operationId": "delete_printer_config_v1_printer__printer_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the printer configuration to delete.",
              "title": "Printer Id"
            },
            "description": "ID for the printer configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePrinterConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Printer configuration not found"
          },
          "500": {
            "description": "Internal server error while deleting configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sla-printer": {
      "get": {
        "tags": [
          "SLA Printer Config"
        ],
        "summary": "Get Sla Printer Configs",
        "description": "Get all of the authenticated user's SLA printer configurations. Requires a valid API token.",
        "operationId": "get_sla_printer_configs_v1_sla_printer_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SLAPrinterConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Get Sla Printer Configs V1 Sla Printer Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "SLA Printer Config"
        ],
        "summary": "Create Sla Printer Config",
        "description": "Create an SLA printer configuration including build volume and display geometry. Requires a valid API token.",
        "operationId": "create_sla_printer_config_v1_sla_printer_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLAPrinterConfig",
                "description": "SLA printer configuration."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSLAPrinterConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/sla-printer/{sla_printer_id}": {
      "get": {
        "tags": [
          "SLA Printer Config"
        ],
        "summary": "Get Sla Printer Config",
        "description": "Get a specific SLA printer configuration for the authenticated user. Requires a valid API token.",
        "operationId": "get_sla_printer_config_v1_sla_printer__sla_printer_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "sla_printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the SLA printer configuration to retrieve.",
              "title": "Sla Printer Id"
            },
            "description": "ID for the SLA printer configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSLAPrinterConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SLA Printer Config"
        ],
        "summary": "Update Sla Printer Config",
        "description": "Update an existing SLA printer configuration for the authenticated user. Requires a valid API token.",
        "operationId": "update_sla_printer_config_v1_sla_printer__sla_printer_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "sla_printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the SLA printer configuration to update.",
              "title": "Sla Printer Id"
            },
            "description": "ID for the SLA printer configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLAPrinterConfig",
                "description": "Complete SLA printer configuration."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSLAPrinterConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SLA Printer Config"
        ],
        "summary": "Delete Sla Printer Config",
        "description": "Delete a specific SLA printer configuration for the authenticated user. Requires a valid API token.",
        "operationId": "delete_sla_printer_config_v1_sla_printer__sla_printer_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "sla_printer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the SLA printer configuration to delete.",
              "title": "Sla Printer Id"
            },
            "description": "ID for the SLA printer configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSLAPrinterConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/filament": {
      "get": {
        "tags": [
          "FDM Filament Config"
        ],
        "summary": "Get Filament Configs",
        "description": "Get all of the authenticated user's filament configurations. Requires a valid API token.",
        "operationId": "get_filament_configs_v1_filament_get",
        "responses": {
          "200": {
            "description": "Successfully retrieved filament configurations",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FilamentConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Get Filament Configs V1 Filament Get"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while fetching configurations"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "FDM Filament Config"
        ],
        "summary": "Create Filament Config",
        "description": "Create a new filament configuration for the authenticated user. Requires a valid API token.",
        "operationId": "create_filament_config_v1_filament_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilamentConfig",
                "description": "Complete filament configuration including material, temperature, cooling, and speed settings."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilamentConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filament configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while creating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/filament/{filament_id}": {
      "get": {
        "tags": [
          "FDM Filament Config"
        ],
        "summary": "Get Filament Config",
        "description": "Get a specific filament configuration for the authenticated user. Requires a valid API token.",
        "operationId": "get_filament_config_v1_filament__filament_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "filament_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the filament configuration to retrieve.",
              "title": "Filament Id"
            },
            "description": "ID for the filament configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleFilamentConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Filament configuration not found"
          },
          "500": {
            "description": "Internal server error while fetching configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "FDM Filament Config"
        ],
        "summary": "Update Filament Config",
        "description": "Update an existing filament configuration for the authenticated user. Requires a valid API token.",
        "operationId": "update_filament_config_v1_filament__filament_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "filament_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the filament configuration to update.",
              "title": "Filament Id"
            },
            "description": "ID for the filament configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilamentConfig",
                "description": "Complete filament configuration including material, temperature, cooling, and speed settings."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFilamentConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filament configuration data"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Filament configuration not found"
          },
          "500": {
            "description": "Internal server error while updating configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "FDM Filament Config"
        ],
        "summary": "Delete Filament Config",
        "description": "Delete a specific filament configuration for the authenticated user. Requires a valid API token.",
        "operationId": "delete_filament_config_v1_filament__filament_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "filament_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the filament configuration to delete.",
              "title": "Filament Id"
            },
            "description": "ID for the filament configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted filament configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilamentConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Filament configuration not found"
          },
          "500": {
            "description": "Internal server error while deleting configuration"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sla-resin": {
      "get": {
        "tags": [
          "SLA Resin Config"
        ],
        "summary": "Get Resin Configs",
        "description": "Get all of the authenticated user's resin configurations. Requires a valid API token.",
        "operationId": "get_resin_configs_v1_sla_resin_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SLAResinConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Get Resin Configs V1 Sla Resin Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "SLA Resin Config"
        ],
        "summary": "Create Resin Config",
        "description": "Create a resin configuration including density, cost, and exposure defaults. Requires a valid API token.",
        "operationId": "create_resin_config_v1_sla_resin_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLAResinConfig",
                "description": "Resin configuration."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSLAResinConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/sla-resin/{resin_id}": {
      "get": {
        "tags": [
          "SLA Resin Config"
        ],
        "summary": "Get Resin Config",
        "description": "Get a specific resin configuration for the authenticated user. Requires a valid API token.",
        "operationId": "get_resin_config_v1_sla_resin__resin_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "resin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the resin configuration to retrieve.",
              "title": "Resin Id"
            },
            "description": "ID for the resin configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSLAResinConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SLA Resin Config"
        ],
        "summary": "Update Resin Config",
        "description": "Update an existing resin configuration for the authenticated user. Requires a valid API token.",
        "operationId": "update_resin_config_v1_sla_resin__resin_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "resin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the resin configuration to update.",
              "title": "Resin Id"
            },
            "description": "ID for the resin configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLAResinConfig",
                "description": "Complete resin configuration."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSLAResinConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SLA Resin Config"
        ],
        "summary": "Delete Resin Config",
        "description": "Delete a specific resin configuration for the authenticated user. Requires a valid API token.",
        "operationId": "delete_resin_config_v1_sla_resin__resin_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "resin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the resin configuration to delete.",
              "title": "Resin Id"
            },
            "description": "ID for the resin configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSLAResinConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/print-setting": {
      "get": {
        "tags": [
          "FDM Print Setting"
        ],
        "summary": "Get Print Settings",
        "description": "Get all of the authenticated user's print setting configurations. Requires a valid API token.",
        "operationId": "get_print_settings_v1_print_setting_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PrintSettingResponse"
                  },
                  "type": "array",
                  "title": "Response Get Print Settings V1 Print Setting Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "FDM Print Setting"
        ],
        "summary": "Create Print Setting",
        "description": "Create a new print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "create_print_setting_v1_print_setting_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintSettings",
                "description": "Complete print settings configuration including layers, infill, support, and speed settings."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/print-setting/{print_setting_id}": {
      "get": {
        "tags": [
          "FDM Print Setting"
        ],
        "summary": "Get Print Setting",
        "description": "Get a specific print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "get_print_setting_v1_print_setting__print_setting_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the print setting configuration to retrieve.",
              "title": "Print Setting Id"
            },
            "description": "ID for the print setting configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SinglePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "FDM Print Setting"
        ],
        "summary": "Update Print Setting",
        "description": "Update an existing print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "update_print_setting_v1_print_setting__print_setting_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the print setting configuration to update.",
              "title": "Print Setting Id"
            },
            "description": "ID for the print setting configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintSettings",
                "description": "Complete print settings configuration including layers, infill, support, and speed settings."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "FDM Print Setting"
        ],
        "summary": "Delete Print Setting",
        "description": "Delete a specific print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "delete_print_setting_v1_print_setting__print_setting_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the print setting configuration to delete.",
              "title": "Print Setting Id"
            },
            "description": "ID for the print setting configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sla-print-setting": {
      "get": {
        "tags": [
          "SLA Print Setting"
        ],
        "summary": "Get Sla Print Settings",
        "description": "Get all of the authenticated user's SLA print setting configurations. Requires a valid API token.",
        "operationId": "get_sla_print_settings_v1_sla_print_setting_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SLAPrintSettingResponse"
                  },
                  "type": "array",
                  "title": "Response Get Sla Print Settings V1 Sla Print Setting Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "SLA Print Setting"
        ],
        "summary": "Create Sla Print Setting",
        "description": "Create a new SLA print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "create_sla_print_setting_v1_sla_print_setting_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLAPrintSettings",
                "description": "Complete SLA print settings including layer height, supports, and pad settings."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSLAPrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/sla-print-setting/{sla_print_setting_id}": {
      "get": {
        "tags": [
          "SLA Print Setting"
        ],
        "summary": "Get Sla Print Setting",
        "description": "Get a specific SLA print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "get_sla_print_setting_v1_sla_print_setting__sla_print_setting_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "sla_print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the SLA print setting configuration to retrieve.",
              "title": "Sla Print Setting Id"
            },
            "description": "ID for the SLA print setting configuration to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSLAPrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SLA Print Setting"
        ],
        "summary": "Update Sla Print Setting",
        "description": "Update an existing SLA print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "update_sla_print_setting_v1_sla_print_setting__sla_print_setting_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "sla_print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the SLA print setting configuration to update.",
              "title": "Sla Print Setting Id"
            },
            "description": "ID for the SLA print setting configuration to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLAPrintSettings",
                "description": "Complete SLA print settings configuration."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSLAPrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SLA Print Setting"
        ],
        "summary": "Delete Sla Print Setting",
        "description": "Delete a specific SLA print setting configuration for the authenticated user. Requires a valid API token.",
        "operationId": "delete_sla_print_setting_v1_sla_print_setting__sla_print_setting_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "sla_print_setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the SLA print setting configuration to delete.",
              "title": "Sla Print Setting Id"
            },
            "description": "ID for the SLA print setting configuration to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSLAPrintSettingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create Order",
        "description": "Create an order for the authenticated user's widget and persist calculated totals.",
        "operationId": "create_order_v1_order_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid order payload"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "403": {
            "description": "Ordering is disabled for this widget"
          },
          "404": {
            "description": "Widget not found"
          },
          "500": {
            "description": "Internal server error while creating order"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/order/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get Order",
        "description": "Get a specific order for the authenticated user. **NOTE: The *order_id* must be the default ID provided to you in your Cloud Slicer dashboard.  It cannot be your custom ID**",
        "operationId": "get_order_v1_order__order_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID to retrieve.",
              "title": "Order Id"
            },
            "description": "Order ID to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal server error while fetching order"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Update Order",
        "description": "Update an existing order for the authenticated user. **NOTE: The *order_id* must be the default ID provided to you in your Cloud Slicer dashboard.  It cannot be your custom ID**",
        "operationId": "update_order_v1_order__order_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID to update.",
              "title": "Order Id"
            },
            "description": "Order ID to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "No valid fields to update"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal server error while updating order"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete Order",
        "description": "Delete an order for the authenticated user. **NOTE: The *order_id* must be the default ID provided to you in your Cloud Slicer dashboard.  It cannot be your custom ID**",
        "operationId": "delete_order_v1_order__order_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID to delete.",
              "title": "Order Id"
            },
            "description": "Order ID to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal server error while deleting order"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/printability/{file_id}": {
      "post": {
        "tags": [
          "Part Info"
        ],
        "summary": "Check Model Printability",
        "description": "Check if a model fits on the print bed given the dimensions.\n\nRequires a valid API token in the Authorization header (Bearer scheme).\nYou can gernerate a token from the Cloud Slicer website in your account settings.\nAccepts the file ID and printer bed dimensions (mm) as query parameters.\nReturns printability status and model/printer dimensions.",
        "operationId": "check_model_printability_v1_printability__file_id__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the 3D model file (this can be found in the upload response)",
              "title": "File Id"
            },
            "description": "ID for the 3D model file (this can be found in the upload response)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedDimensions",
                "default": {
                  "x": 210.0,
                  "y": 210.0,
                  "z": 250.0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully analyzed model printability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintabilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or file ownership mismatch"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error during printability analysis"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get User Files",
        "description": "Get uploaded files for the authenticated user, sorted by latest first. Pass an optional `file_id` query parameter to fetch metadata for a single file (returns a list of 0 or 1 items). Requires a valid API token.",
        "operationId": "get_user_files_v1_file_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional file ID. When provided, returns only the matching upload record for the authenticated user.",
              "title": "File Id"
            },
            "description": "Optional file ID. When provided, returns only the matching upload record for the authenticated user."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadRecordResponse"
                  },
                  "title": "Response Get User Files V1 File Get"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while fetching files"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "File"
        ],
        "summary": "Upload File",
        "description": "Upload a file to the database for the authenticated user.\n\nRequires a valid API token in the Authorization header (Bearer scheme).\nYou can generate a token from the Cloud Slicer website in your account settings.\nThe upload must be a .stl, .obj, .3mf, .amf, or .step/.stp file.\nReturns details about the uploaded file, including its ID and storage path.",
        "operationId": "upload_file_v1_file_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_v1_file_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file type or filename"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "413": {
            "description": "File too large"
          },
          "500": {
            "description": "Internal server error during upload"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file/upload-id": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get Upload Id",
        "description": "Generate an upload ID for uploading a file to the database.\n\nRequires a valid API token in the Authorization header (Bearer scheme).\nReturns an upload id that can be used with the /file/public/{upload_id} endpoint\nto upload files without authentication. The upload id expires after 1 hour.\n\nWorkflow:\n1. Call this endpoint to get an upload_id\n2. Use the upload_id with POST /file/public/{upload_id} to upload the file",
        "operationId": "get_upload_id_v1_file_upload_id_get",
        "responses": {
          "200": {
            "description": "Successfully generated upload ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadLink"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error while generating upload ID"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/file/public/{upload_id}": {
      "post": {
        "tags": [
          "File"
        ],
        "summary": "Upload File Public",
        "description": "Upload a file using a temporary upload ID (no authentication required).\n\nThis endpoint allows anonymous uploads using a temporary upload ID obtained\nfrom the /upload endpoint. The upload ID is single-use and expires after 1 hour.",
        "operationId": "upload_file_public_v1_file_public__upload_id__post",
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Temporary upload ID obtained from /file/upload-id endpoint",
              "title": "Upload Id"
            },
            "description": "Temporary upload ID obtained from /file/upload-id endpoint"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_public_v1_file_public__upload_id__post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file type or filename"
          },
          "404": {
            "description": "Upload session not found"
          },
          "410": {
            "description": "Upload session expired or already used"
          },
          "413": {
            "description": "File too large"
          },
          "500": {
            "description": "Internal server error during upload"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file/{file_id}": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Download File",
        "description": "Download an uploaded file for the authenticated user.\n\nRequires a valid API token in the Authorization header (Bearer scheme).\nYou can generate a token from the Cloud Slicer website in your account settings.\nAccepts the file ID as a query parameter.\nReturns the file as a download if the user is authorized and the file exists.",
        "operationId": "download_file_v1_file__file_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the STL file to download",
              "title": "File Id"
            },
            "description": "ID for the STL file to download"
          }
        ],
        "responses": {
          "200": {
            "description": "File downloaded successfully"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error during download"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "File"
        ],
        "summary": "Delete File",
        "description": "Deletes an uploaded file and its associated gcode from storage. **The quote record is\nkept** — its `file_path` and `gcode_path` are cleared (set to null) rather than deleted,\nso quote and order history is preserved.\n\nRequires a valid API token in the Authorization header (Bearer scheme).\nYou can generate a token from the Cloud Slicer website in your account settings.\nAccepts the file ID as a query parameter.\nReturns a deleted message and the path of the removed file if deletion is successful.",
        "operationId": "delete_file_v1_file__file_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the STL file to delete",
              "title": "File Id"
            },
            "description": "ID for the STL file to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error during deletion"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/fdm/{file_id}": {
      "post": {
        "tags": [
          "FDM Quote"
        ],
        "summary": "Queue Quote Model",
        "description": "Submit a quote job to the async queue.\n\nUse the returned quote_id to poll GET /v1/quote/{quote_id} until the status\ntransitions from pending to success or failed.",
        "operationId": "queue_quote_model_v1_quote_fdm__file_id__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the uploaded file",
              "title": "File Id"
            },
            "description": "ID for the uploaded file"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteConfig"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Quote job queued successfully; poll GET /v1/quote/{quote_id} for updates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteQueueSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request configuration"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File, printer config, or filament config not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error while queueing quote"
          },
          "503": {
            "description": "Modal queue dispatch failed"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/sla/{file_id}": {
      "post": {
        "tags": [
          "SLA Quote"
        ],
        "summary": "Queue Sla Quote Model",
        "description": "Submit an SLA (resin) quote job to the async queue.\n\nPoll GET /v1/quote/{quote_id} until the status transitions from pending to\nsuccess or failed. The quote's pricing block carries resin volume (mL) and\nweight (g) alongside the total price.",
        "operationId": "queue_sla_quote_model_v1_quote_sla__file_id__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the uploaded file",
              "title": "File Id"
            },
            "description": "ID for the uploaded file"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLAQuoteConfig"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "SLA quote job queued successfully; poll GET /v1/quote/{quote_id} for updates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteQueueSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request configuration"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "File, SLA printer config, or resin config not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error while queueing SLA quote"
          },
          "503": {
            "description": "Modal queue dispatch failed"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/{quote_id}": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Get Quote Record",
        "description": "Retrieve a quote record by its ID.\n\nRequires a valid API token in the Authorization header (Bearer scheme).",
        "operationId": "get_quote_record_v1_quote__quote_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the uploaded file (this can be found in the upload response)",
              "title": "Quote Id"
            },
            "description": "ID for the uploaded file (this can be found in the upload response)"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Quote not found"
          },
          "500": {
            "description": "Internal server error while fetching quote"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Quotes"
        ],
        "summary": "Delete Quote",
        "description": "Deletes the quote record and its associated output file (G-code or SLA\narchive) for the given Quote ID.\n\nRequires a valid API token in the Authorization header (Bearer scheme).\nYou can generate a token from the Cloud Slicer website in your account settings.\nAccepts the file ID as a query parameter.\nReturns a success message and the path of the removed file if deletion is successful.",
        "operationId": "delete_quote_v1_quote__quote_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the quote to delete",
              "title": "Quote Id"
            },
            "description": "ID for the quote to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuoteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Quote not found"
          },
          "500": {
            "description": "Internal server error while deleting quote"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote/output/{quote_id}": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Download Quote Gcode",
        "description": "Retrieve the sliced output file (G-code or SLA archive) for the quote that\nmatches **quote_id**.\n\nRequires a valid API token in the Authorization header (Bearer scheme).",
        "operationId": "download_quote_gcode_v1_quote_output__quote_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID for the generated quote (this can be found in the quote response)",
              "title": "Quote Id"
            },
            "description": "ID for the generated quote (this can be found in the quote response)"
          }
        ],
        "responses": {
          "200": {
            "description": "Sliced output file downloaded successfully"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "404": {
            "description": "Quote or output file not found"
          },
          "500": {
            "description": "Internal server error during download"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/deliveries": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook Deliveries",
        "operationId": "get_webhook_deliveries_v1_webhook_deliveries_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/WebhookDeliveryResponse"
                      },
                      "type": "array"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Get Webhook Deliveries V1 Webhook Deliveries Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhook/delivery/retry/{webhook_delivery_id}": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retry Webhook Delivery",
        "operationId": "retry_webhook_delivery_v1_webhook_delivery_retry__webhook_delivery_id__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_delivery_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook delivery ID to retry.",
              "title": "Webhook Delivery Id"
            },
            "description": "Webhook delivery ID to retry."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryRetryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/endpoint": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create Webhook Endpoint",
        "description": "Supported event types for webhook subscriptions:\n- order.created\n- order.updated\n- order.deleted",
        "operationId": "create_webhook_endpoint_v1_webhook_endpoint_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhook/endpoints": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook Endpoints",
        "operationId": "get_webhook_endpoints_v1_webhook_endpoints_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/WebhookEndpointResponse"
                  },
                  "type": "array",
                  "title": "Response Get Webhook Endpoints V1 Webhook Endpoints Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/webhook/endpoint/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook Endpoint",
        "operationId": "get_webhook_endpoint_v1_webhook_endpoint__webhook_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint ID to fetch.",
              "title": "Webhook Id"
            },
            "description": "Webhook endpoint ID to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update Webhook Endpoint",
        "operationId": "update_webhook_endpoint_v1_webhook_endpoint__webhook_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint ID to update.",
              "title": "Webhook Id"
            },
            "description": "Webhook endpoint ID to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Webhook Endpoint",
        "operationId": "delete_webhook_endpoint_v1_webhook_endpoint__webhook_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Webhook endpoint ID to delete.",
              "title": "Webhook Id"
            },
            "description": "Webhook endpoint ID to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/convert/file-to-stl": {
      "post": {
        "tags": [
          "Convert Files"
        ],
        "summary": "Convert File To Stl",
        "description": "Converts a 3D model file (.3mf, .obj, .step, .stp) to STL format.Upload a supported model file and receive a downloadable .stl file.",
        "operationId": "convert_file_to_stl_v1_convert_file_to_stl_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_convert_file_to_stl_v1_convert_file_to_stl_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully converted model to STL",
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "Invalid file format or filename"
          },
          "413": {
            "description": "File too large"
          },
          "500": {
            "description": "Conversion failed"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/convert/bambu-to-ini": {
      "post": {
        "tags": [
          "Convert Files"
        ],
        "summary": "Convert Bambu To Ini",
        "description": "Convert a Bambu Studio profile archive (.bbscfg) to PrusaSlicer INI format. Upload a .bbscfg file containing filament/, printer/, and process/ directories with Bambu profile JSON files. Returns a downloadable .ini configuration file.",
        "operationId": "convert_bambu_to_ini_v1_convert_bambu_to_ini_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_convert_bambu_to_ini_v1_convert_bambu_to_ini_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully converted profile to INI format",
            "content": {
              "text/plain": {}
            }
          },
          "400": {
            "description": "Invalid archive format or missing required files"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/convert/bambu-to-json": {
      "post": {
        "tags": [
          "Convert Files"
        ],
        "summary": "Convert Bambu To Json",
        "description": "Convert a Bambu Studio profile export to intermediate JSON format. Accepts .bbscfg, .bbsflmt, .zip (Printer/Filament/Process preset bundles), or a raw .json preset. Returns only the categories that were present in the upload; each present category is returned as a list of resolved configs.",
        "operationId": "convert_bambu_to_json_v1_convert_bambu_to_json_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_convert_bambu_to_json_v1_convert_bambu_to_json_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully converted profile to JSON format",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid file format or no recognizable Bambu profiles"
          },
          "401": {
            "description": "Invalid or missing authentication token"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Acceleration": {
        "properties": {
          "default": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Default",
            "description": "Default acceleration in mm/s²",
            "default": 10000
          },
          "first_layer": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Layer",
            "description": "First layer acceleration in mm/s²",
            "default": 500
          },
          "perimeter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Perimeter",
            "description": "Perimeter acceleration (0 = use default)",
            "default": 0
          },
          "external_perimeter": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "External Perimeter",
            "description": "External perimeter acceleration in mm/s²",
            "default": 5000
          },
          "infill": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Infill",
            "description": "Infill acceleration (value or %)",
            "default": "100%"
          },
          "solid_infill": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Solid Infill",
            "description": "Solid infill acceleration (0 = use default)",
            "default": 0
          },
          "top_solid_infill": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Top Solid Infill",
            "description": "Top solid infill acceleration in mm/s²",
            "default": 2000
          },
          "travel": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Travel",
            "description": "Travel acceleration in mm/s²",
            "default": 10000
          },
          "bridge": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bridge",
            "description": "Bridge acceleration (0 = use default)",
            "default": 0
          }
        },
        "type": "object",
        "title": "Acceleration",
        "description": "Acceleration settings."
      },
      "Advanced": {
        "properties": {
          "detect_thin_walls": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Detect Thin Walls",
            "description": "Detect thin walls",
            "default": false
          },
          "thick_bridges": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Thick Bridges",
            "description": "Use thick bridges",
            "default": true
          },
          "seam_position": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SeamPosition"
              },
              {
                "type": "null"
              }
            ],
            "description": "Seam position",
            "default": "nearest"
          },
          "perimeter_generator": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PerimeterGenerator"
              },
              {
                "type": "null"
              }
            ],
            "description": "Perimeter generator",
            "default": "classic"
          },
          "elefant_foot_compensation": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Elefant Foot Compensation",
            "description": "Elephant foot compensation in mm",
            "default": 0.15
          },
          "xy_size_compensation": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Xy Size Compensation",
            "description": "XY size compensation in mm",
            "default": 0.0
          },
          "xy_hole_compensation": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Xy Hole Compensation",
            "description": "XY hole compensation in mm",
            "default": 0.0
          }
        },
        "type": "object",
        "title": "Advanced",
        "description": "Advanced layer settings."
      },
      "BedDimensions": {
        "properties": {
          "x": {
            "type": "number",
            "title": "X",
            "default": 210
          },
          "y": {
            "type": "number",
            "title": "Y",
            "default": 210
          },
          "z": {
            "type": "number",
            "title": "Z",
            "default": 250
          }
        },
        "type": "object",
        "title": "BedDimensions",
        "description": "**Schema for printer bed dimensions:**\n\n    x (float): The X (width) dimension of the printer bed in millimeters. Default is 210mm.\n\n    y (float): The Y (depth) dimension of the printer bed in millimeters. Default is 210mm.\n\n    z (float): The Z (height) dimension of the printer bed in millimeters. Default is 250mm."
      },
      "Body_convert_bambu_to_ini_v1_convert_bambu_to_ini_post": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File",
            "description": "Bambu Studio profile archive (.bbscfg)"
          }
        },
        "type": "object",
        "required": [
          "file"
        ],
        "title": "Body_convert_bambu_to_ini_v1_convert_bambu_to_ini_post"
      },
      "Body_convert_bambu_to_json_v1_convert_bambu_to_json_post": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File",
            "description": "Bambu Studio profile export (.bbscfg, .bbsflmt, .zip, or .json)"
          }
        },
        "type": "object",
        "required": [
          "file"
        ],
        "title": "Body_convert_bambu_to_json_v1_convert_bambu_to_json_post"
      },
      "Body_convert_file_to_stl_v1_convert_file_to_stl_post": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File",
[...]
